@-webkit-keyframes slide-in-top {
   0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}
@keyframes slide-in-top {
   0% {
      -webkit-transform: translateY(-1000px);
      transform: translateY(-1000px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
   }
}

.banner-img-base {
   position: absolute;
   top: -0.5vw;
   left: 0vw;
   width: 100%;
   z-index: 0;
}

.banner-title-top {
   position: absolute;
   top: 1vw;
   left: 20vw;
   margin: 0;
   font-family: 'Bebas Neue', cursive;
   font-size: 5.3vw;
   color: white;
   z-index: 1;
   -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation-delay: 0.7s;
}

.banner-title-bottom {
   position: absolute;
   top: 6.4vw;
   left: 20vw;
   margin: 0;
   font-family: 'Bebas Neue', cursive;
   font-size: 5.3vw;
   color: white;
   z-index: 1;
   -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
   animation-delay: 0.7s;
}
