.banner-img-base {
   position: absolute;
   top: -0.5vw;
   left: 0vw;
   width: 100%;
   z-index: 0;
}

.banner-title-top {
   position: absolute;
   top: 1vw;
   left: 20vw;
   margin: 0;
   font-family: 'Bebas Neue', cursive;
   font-size: 5.3vw;
   color: white;
   z-index: 1;
}

.banner-title-bottom {
   position: absolute;
   top: 6.4vw;
   left: 20vw;
   margin: 0;
   font-family: 'Bebas Neue', cursive;
   font-size: 5.3vw;
   color: white;
   z-index: 1;
}
