body {
   background-color: black;
}

.carousel {
   margin-top: 5.5vw;
   margin-bottom: 5.5vw;
   z-index: 3;
}

.carousel-item {
   height: 35vw;
}

.carousel-img {
   object-fit: cover;
}

@media (max-width: 700px) {
   .carousel {
      margin-top: 115vw;
      margin-bottom: 10vw;
   }
   .carousel-item {
      height: 50vw;
   }
}
