@-webkit-keyframes vibrate-1 {
   0% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
   20% {
      -webkit-transform: translate(-1vw, 1vw);
      transform: translate(-1vw, 1vw);
   }
   40% {
      -webkit-transform: translate(-1vw, -1vw);
      transform: translate(-1vw, -1vw);
   }
   60% {
      -webkit-transform: translate(1vw, 1vw);
      transform: translate(1vw, 1vw);
   }
   80% {
      -webkit-transform: translate(1vw, -1vw);
      transform: translate(1vw, -1vw);
   }
   100% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
}
@keyframes vibrate-1 {
   0% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
   20% {
      -webkit-transform: translate(-1vw, 1vw);
      transform: translate(-1vw, 1vw);
   }
   40% {
      -webkit-transform: translate(-1vw, -1vw);
      transform: translate(-1vw, -1vw);
   }
   60% {
      -webkit-transform: translate(1vw, 1vw);
      transform: translate(1vw, 1vw);
   }
   80% {
      -webkit-transform: translate(1vw, -1vw);
      transform: translate(1vw, -1vw);
   }
   100% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
}

@-webkit-keyframes fade-in-svg {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fade-in-svg {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.lines-off {
   visibility: hidden;
}

.lines-on {
   position: absolute;
   top: -0.5vw;
   left: 0vw;
   width: 100%;
   z-index: 2;
   -webkit-animation: fade-in-svg 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   animation: fade-in-svg 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#fil0 {
   fill: none;
}

#fil1 {
   cursor: pointer;
   fill: #9feded;
   fill-opacity: 0.701961;
}

#fil2 {
   cursor: pointer;
   fill: #e4f994;
   fill-opacity: 0.701961;
}

#fil3 {
   cursor: pointer;
   fill: #f8b1ad;
   fill-opacity: 0.701961;
}

#fil4 {
   cursor: pointer;
   fill: #71abdd;
   fill-opacity: 0.701961;
}

#fil5 {
   cursor: pointer;
   fill: #fdcd79;
   fill-opacity: 0.701961;
}

#fil6 {
   cursor: pointer;
   fill: #fff68d;
   fill-opacity: 0.701961;
}

#fil7 {
   cursor: pointer;
   fill: #dd86b9;
   fill-opacity: 0.701961;
}

#fil8 {
   cursor: pointer;
   fill: #a7a4ff;
   fill-opacity: 0.701961;
}

.fil9 {
   opacity: 0;
}

.move {
   cursor: pointer;
   -webkit-animation: vibrate-1 0.9s linear infinite both;
   animation: vibrate-1 0.9s linear infinite both;
}
