@-webkit-keyframes vibrate-1 {
   0% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
   20% {
      -webkit-transform: translate(-1vw, 1vw);
      transform: translate(-1vw, 1vw);
   }
   40% {
      -webkit-transform: translate(-1vw, -1vw);
      transform: translate(-1vw, -1vw);
   }
   60% {
      -webkit-transform: translate(1vw, 1vw);
      transform: translate(1vw, 1vw);
   }
   80% {
      -webkit-transform: translate(1vw, -1vw);
      transform: translate(1vw, -1vw);
   }
   100% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
}
@keyframes vibrate-1 {
   0% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
   20% {
      -webkit-transform: translate(-1vw, 1vw);
      transform: translate(-1vw, 1vw);
   }
   40% {
      -webkit-transform: translate(-1vw, -1vw);
      transform: translate(-1vw, -1vw);
   }
   60% {
      -webkit-transform: translate(1vw, 1vw);
      transform: translate(1vw, 1vw);
   }
   80% {
      -webkit-transform: translate(1vw, -1vw);
      transform: translate(1vw, -1vw);
   }
   100% {
      -webkit-transform: translate(0);
      transform: translate(0);
   }
}

@-webkit-keyframes fade-in-svg {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fade-in-svg {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.navbar-fnt {
   font-weight: normal;
   font-size: 146.17px;
   font-family: 'Gloria Hallelujah';
   cursor: pointer;
   fill: #fefefe;
   text-decoration: none;
}

.lines-off {
   visibility: hidden;
}

.lines-on {
   position: absolute;
   top: -0.5vw;
   left: 0vw;
   width: 100%;
   z-index: 2;
   -webkit-animation: fade-in-svg 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
   animation: fade-in-svg 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fil {
   cursor: pointer;
   fill-opacity: 0.7;
}

.fil1 {
   fill: #9feded;
}

.fil2 {
   fill: #e4f994;
}

.fil3 {
   fill: #f8b1ad;
}

.fil4 {
   fill: #71abdd;
}

.fil5 {
   fill: #fdcd79;
}

.fil6 {
   fill: #fff68d;
}

.fil7 {
   fill: #dd86b9;
}

.fil8 {
   fill: #a7a4ff;
}

.fil9 {
   opacity: 0;
}

.move {
   cursor: pointer;
   -webkit-animation: vibrate-1 0.9s linear infinite both;
   animation: vibrate-1 0.9s linear infinite both;
}

@media (max-width: 700px) {
   .lines-on {
      display: none;
   }
}
