@-webkit-keyframes vibrate-navbar-button {
   0% {
      -webkit-transform: translate(0) rotate(-72deg);
      transform: translate(0) rotate(-72deg);
   }
   20% {
      -webkit-transform: translate(-0.08vw, 0.08vw) rotate(-72deg);
      transform: translate(-0.08vw, 0.08vw) rotate(-72deg);
   }
   40% {
      -webkit-transform: translate(-0.08vw, -0.08vw) rotate(-72deg);
      transform: translate(-0.08vw, -0.08vw) rotate(-72deg);
   }
   60% {
      -webkit-transform: translate(0.08vw, 0.08vw) rotate(-72deg);
      transform: translate(0.08vw, 0.08vw);
   }
   80% {
      -webkit-transform: translate(0.08vw, -0.08vw) rotate(-72deg);
      transform: translate(0.08vw, -0.08vw) rotate(-72deg);
   }
   100% {
      -webkit-transform: translate(0) rotate(-72deg);
      transform: translate(0) rotate(-72deg);
   }
}
@keyframes vibrate-navbar-button {
   0% {
      -webkit-transform: translate(0) rotate(-72deg);
      transform: translate(0) rotate(-72deg);
   }
   20% {
      -webkit-transform: translate(-0.08vw, 0.08vw) rotate(-72deg);
      transform: translate(-0.08vw, 0.08vw) rotate(-72deg);
   }
   40% {
      -webkit-transform: translate(-0.08vw, -0.08vw) rotate(-72deg);
      transform: translate(-0.08vw, -0.08vw) rotate(-72deg);
   }
   60% {
      -webkit-transform: translate(0.08vw, 0.08vw) rotate(-72deg);
      transform: translate(0.08vw, 0.08vw) rotate(-72deg);
   }
   80% {
      -webkit-transform: translate(0.08vw, -0.08vw) rotate(-72deg);
      transform: translate(0.08vw, -0.08vw) rotate(-72deg);
   }
   100% {
      -webkit-transform: translate(0) rotate(-72deg);
      transform: translate(0) rotate(-72deg);
   }
}

.navbar-container {
   position: absolute;
   left: 53.3vw;
   font-family: 'Gloria Hallelujah', cursive;
   font-size: 1.2vw;
   font-weight: 100;
   color: white;
   z-index: 3;
}

.navbar-button-about {
   transform: rotate(-72deg);
   -webkit-transform: rotate(-72deg);
   position: absolute;
   left: 0vw;
   top: 1.4vw;
   margin: 0;
   cursor: pointer;
}

.navbar-button-contact {
   transform: rotate(-72deg);
   -webkit-transform: rotate(-72deg);
   position: absolute;
   left: 3.8vw;
   top: 2vw;
   margin: 0;
   cursor: pointer;
}

.navbar-button-news {
   transform: rotate(-72deg);
   -webkit-transform: rotate(-72deg);
   position: absolute;
   left: 9.8vw;
   top: 1vw;
   margin: 0;
   cursor: pointer;
}

.navbar-move-button {
   -webkit-animation: vibrate-navbar-button 0.9s linear infinite both;
   animation: vibrate-navbar-button 0.9s linear infinite both;
}
